[submodule "3DCellComposer"]
	path = 3DCellComposer
	url = https://github.com/hubmapconsortium/3DCellComposer
[submodule "CellSegmentationEvaluator"]
	path = CellSegmentationEvaluator
	url = https://github.com/hubmapconsortium/CellSegmentationEvaluator
